.section-title {
  font-size: 24px;
  padding-top: 50px;
}

.section-login {
  // background-color: rgb(243, 232, 219);
}

.section-about-us {
  padding: 50px;
}

.fs-24 {
  font-size: 24px;
}

.fs-18 {
  font-size: 18px;
}

.mb-40 {
  margin-bottom: 40px;
}

.txt-gray {
  color: #a8a5a5;
}
